<title>资产</title>
<div class="row">
	<div class="col-xs-3">
        <div  class="panel panel-default" style="height:200px;">
        	<div>

        	</div>

        </div>
    </div>

	<div class="col-xs-9 resource bg-white" style="padding:20px;">
        <div class="row form-inline btn-box">
            <div class="form-group pull-left">
                <button class="btn btn-success">新增机房</button>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">
                      更多<span class="fa fa-caret-down"></span>
                    </button>
					<ul class="dropdown-menu dropdown-a0a0a0" style="right:12px;min-width:22px;left:auto;">
						<li>
							<a class="" href="index.html#page/service/productlist-add-steps">修改</a>
						</li>
					</ul>
                </div>
            </div>
			<form action="" class="form-inline" style="margin-top:20px;">
	            <div class="iteminform">行政区域：
	            	<select class="form-control">
	                  <option value="AK">全部</option>
	                  <option value="HI">sdasd2121</option>
	                  <option value="CA">asdasd25588</option>
	                </select>
	            </div>
	            <div class="iteminform">机房编号：
	                  <input type="text" class="form-control" placeholder="请输入关键字">
	            </div>
	            <div class="iteminform">机层名称：
	                  <input type="text" class="form-control" placeholder="请输入关键字">
	            </div>
	            <div class="iteminform">
	            	<button type="button" class="btn btn-info">搜索</button>
	            </div>
	        </form>
            <div class="clear"></div>
            <div class="table-responsive">
              <table class="table table-striped"  >
                <thead>
                  <tr>
                    
                    <th>机房编号</th>
                    <th>机房名称</th>
                    <th>数据中心</th>
                    <th >机房容量</th>
                    <th >机房位置X</th>
                    <th >机房位置Y</th>
                    <th >行政区域</th>
                    <th >地址</th>
                    <th >责任人</th>
                    <th >联系电话</th>
                    <th >描述</th>
                    <th >操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> dddwer</td>
                    <td>开发测试</td>
                    <td>102</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>160</td>
                    <td>广州天河五山</td>
                    <td>李工</td>
                    <td>020-222222222</td>
                    <td>开发测试</td>
                    <td>
                         <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent1">
                          <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                        </script>
                        <a ng-click="open('','myModalContent1')">修改</a>
                      </span>
                      <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent2">
                          <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                        </script>
                        <a ng-click="open('sm','myModalContent2')">删除</a>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td> dddwer</td>
                    <td>开发测试</td>
                    <td>102</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>160</td>
                    <td>广州天河五山</td>
                    <td>李工</td>
                    <td>020-222222222</td>
                    <td>开发测试</td>
                    <td>
                         <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent1">
                          <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                        </script>
                        <a ng-click="open('','myModalContent1')">修改</a>
                      </span>
                      <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent2">
                          <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                        </script>
                        <a ng-click="open('sm','myModalContent2')">删除</a>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td> dddwer</td>
                    <td>开发测试</td>
                    <td>102</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>160</td>
                    <td>广州天河五山</td>
                    <td>李工</td>
                    <td>020-222222222</td>
                    <td>开发测试</td>
                    <td>
                         <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent1">
                          <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                        </script>
                        <a ng-click="open('','myModalContent1')">修改</a>
                      </span>
                      <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent2">
                          <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                        </script>
                        <a ng-click="open('sm','myModalContent2')">删除</a>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td> dddwer</td>
                    <td>开发测试</td>
                    <td>102</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>160</td>
                    <td>广州天河五山</td>
                    <td>李工</td>
                    <td>020-222222222</td>
                    <td>开发测试</td>
                    <td>
                         <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent1">
                          <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                        </script>
                        <a ng-click="open('','myModalContent1')">修改</a>
                      </span>
                      <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent2">
                          <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                        </script>
                        <a ng-click="open('sm','myModalContent2')">删除</a>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td> dddwer</td>
                    <td>开发测试</td>
                    <td>102</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>160</td>
                    <td>广州天河五山</td>
                    <td>李工</td>
                    <td>020-222222222</td>
                    <td>开发测试</td>
                    <td>
                         <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent1">
                          <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                        </script>
                        <a ng-click="open('','myModalContent1')">修改</a>
                      </span>
                      <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent2">
                          <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                        </script>
                        <a ng-click="open('sm','myModalContent2')">删除</a>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td> dddwer</td>
                    <td>开发测试</td>
                    <td>102</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>160</td>
                    <td>广州天河五山</td>
                    <td>李工</td>
                    <td>020-222222222</td>
                    <td>开发测试</td>
                    <td>
                         <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent1">
                          <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                        </script>
                        <a ng-click="open('','myModalContent1')">修改</a>
                      </span>
                      <span ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent2">
                          <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                        </script>
                        <a ng-click="open('sm','myModalContent2')">删除</a>
                      </span>
                    </td>
                  </tr>
                </tbody>
                 <tfoot class="panel-footer">
                  <tr>
                      <td colspan="10" class="text-center">
                         <ul class="pagination pagination-sm m-t-none m-b-none">
                          <li><a href><i class="fa fa-chevron-left"></i></a></li>
                          <li><a href>1</a></li>
                          <li><a href>2</a></li>
                          <li><a href>3</a></li>
                          <li><a href>4</a></li>
                          <li><a href>5</a></li>
                          <li><a href><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                      </td>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>

        <div class="row form-inline btn-box">
            <div class="form-group">
                <button class="btn btn-success">新增机层</button>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">
                      更多<span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-a0a0a0" style="right:12px;min-width:22px;left:auto;">
                      <li>
                        <a class="" href="index.html#page/service/productlist-add-steps">修改</a>
                      </li>
                    </ul>
                </div>
            </div>
            <form action="" class="form-inline" style="margin-top:20px;">
	            
	            <div class="iteminform">机层名称：
	                  <input type="text" class="form-control" placeholder="请输入关键字">
	            </div>
	            <div class="iteminform">
	            	<button type="button" class="btn btn-info">搜索</button>
	            </div>
	        </form>

            <div class="clear"></div>
            <div class="table-responsive">
                <table class="table table-striped" >
                  <thead>
                    <tr>
                      
                      <th>机层编码</th>
                      <th>机层名称</th>
                      <th>所属机房</th>
                      <th >机层面积</th>
                      <th >机层行数</th>
                      <th >机层列数</th>
                      <th >最大机柜容量</th>
                      <th >责任人</th>
                      <th >描述</th>
                      <th >操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 03</td>
                      <td>一楼北</td>
                      <td>生产机房</td>
                      <td>160</td>
                      <td>160</td>
                      <td>160</td>
                      <td>160</td>
                      <td></td>
                      <td></td>
                      <td>
                           <span ng-controller="ModalDemoCtrl">
                          <script type="text/ng-template" id="myModalContent1">
                            <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                          </script>
                          <a ng-click="open('','myModalContent1')">修改</a>
                        </span>
                        <span ng-controller="ModalDemoCtrl">
                          <script type="text/ng-template" id="myModalContent2">
                            <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                          </script>
                          <a ng-click="open('sm','myModalContent2')">删除</a>
                        </span>
                      </td>
                    </tr>
                   
                  </tbody>
                   <tfoot class="panel-footer">
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                          <li><a href><i class="fa fa-chevron-left"></i></a></li>
                          <li><a href>1</a></li>
                          <li><a href>2</a></li>
                          <li><a href>3</a></li>
                          <li><a href>4</a></li>
                          <li><a href>5</a></li>
                          <li><a href><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </td>
                </tr>
              </tfoot>
                </table>
            </div>
        </div>

        <div class="row form-inline btn-box">
            <div class="form-group">
                <button class="btn btn-success">新增机柜</button>
                <button class="btn btn-success">机柜类型维护</button>
              </div>
      
               <form action="" class="form-inline" style="margin-top:20px;">
	            
	            <div class="iteminform">机柜名称：
	                  <input type="text" class="form-control" placeholder="请输入关键字">
	            </div>
	            <div class="iteminform">
	            	<button type="button" class="btn btn-info">搜索</button>
	            </div>
	        </form>
            <div class="clear"></div>

            <div class="table-responsive">
                <table class="table table-striped" >
                  <thead>
                    <tr>
                      
                      <th>机柜编码</th>
                      <th>机柜名称</th>
                      <th>所属机层</th>
                      <th >所属机房</th>
                      <th >机柜类型</th>
                      <th >机柜型号</th>
                      <th >机柜行</th>
                      <th >机柜列</th>
                      <th >机位数量</th>
                      <th >机柜功率</th>
                      <th >正面布局</th>
                      <th >机柜状态</th>
                      <th >描述</th>
                      <th >操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 03</td>
                      <td>gu2</td>
                      <td>一楼北</td>
                      <td>生产机房</td>
                      <td>IBM</td>
                      <td>160</td>
                      <td>1</td>
                      <td>1</td>
                      <td>50</td>
                      <td>80</td>
                      <td>是</td>
                      <td>正常</td>
                      <td>正常</td>
                      <td>
                           <span ng-controller="ModalDemoCtrl">
                          <script type="text/ng-template" id="myModalContent1">
                            <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                          </script>
                          <a ng-click="open('','myModalContent1')">修改</a>
                        </span>
                        <span ng-controller="ModalDemoCtrl">
                          <script type="text/ng-template" id="myModalContent2">
                            <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                          </script>
                          <a ng-click="open('sm','myModalContent2')">删除</a>
                        </span>
                      </td>
                    </tr>
                   
                  </tbody>
                   <tfoot class="panel-footer">
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                          <li><a href><i class="fa fa-chevron-left"></i></a></li>
                          <li><a href>1</a></li>
                          <li><a href>2</a></li>
                          <li><a href>3</a></li>
                          <li><a href>4</a></li>
                          <li><a href>5</a></li>
                          <li><a href><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </td>
                </tr>
              </tfoot>
                </table>
            </div>
        </div>

        <div class="row form-inline btn-box">
			<div class="form-group">
				<button class="btn btn-success">新增设备</button>
				<button class="btn btn-success">导出设备信息</button>
				<button class="btn btn-success">硬件类型维护</button>
			</div>
      
            <form action="" class="form-inline" style="margin-top:20px;">
	            <div class="iteminform">机柜名称：
	                  <input type="text" class="form-control" placeholder="请输入关键字">
	            </div>
	            <div class="iteminform">
	            	<button type="button" class="btn btn-info">搜索</button>
	            </div>
	        </form>
			<div class="clear"></div>
			  
            <div class="table-responsive">
                <table class="table table-striped b-t b-light text-xs " >
                    <thead>
	                    <tr>
	                      
	                      <th>编号</th>
	                      <th>序列号</th>
	                      <th>硬件类型</th>
	                      <th >所属机柜</th>
	                      <th >所属机层</th>
	                      <th >所属机房</th>
	                      <th >所属业务</th>
	                      <th >IP地址</th>
	                      <th >操作</th>
	                    </tr>
                    </thead>
                    <tbody>
	                    <tr>
	                      <td> 0001</td>
	                      <td>8412-6T2</td>
	                      <td>IBM小</td>
	                      <td>gu2</td>
	                      <td>一楼北</td>
	                      <td>生产机房</td>
	                      <td>ww102</td>
	                     
	                      <td>0.0.0.1</td>
	                      <td>
	                          <span ng-controller="ModalDemoCtrl">
	                            <script type="text/ng-template" id="myModalContent1">
	                              <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
	                            </script>
	                            <a ng-click="open('','myModalContent1')">修改</a>
	                          </span>
	                        <span ng-controller="ModalDemoCtrl">
	                          <script type="text/ng-template" id="myModalContent2">
	                            <div ng-include="'modules/resource/modal.formdelete.html'"></div>
	                          </script>
	                          <a ng-click="open('sm','myModalContent2')">删除</a>
	                        </span>
	                      </td>
	                    </tr>
                   </tbody>
	                <tfoot class="panel-footer">
		                <tr>
		                    <td colspan="10" class="text-center">
		                        <ul class="pagination pagination-sm m-t-none m-b-none">
		                          <li><a href><i class="fa fa-chevron-left"></i></a></li>
		                          <li><a href>1</a></li>
		                          <li><a href>2</a></li>
		                          <li><a href>3</a></li>
		                          <li><a href>4</a></li>
		                          <li><a href>5</a></li>
		                          <li><a href><i class="fa fa-chevron-right"></i></a></li>
		                        </ul>
		                    </td>
		                </tr>
		            </tfoot>
            	</table>
    		</div>

		</div>
	</div>
</div>